.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 5 !important;
}

.map-container {
  position: relative;
  min-height: 400px;
  flex: 1;
  border: 2px solid white;
  background-color: #f0f0f0;
  z-index: 5;
}

.ui-wrapper {
  position: relative;
  z-index: 10;
  padding-left: 220px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #001f3f;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  z-index: 20;
}

.sidebar-button {
  background-color: #0055aa;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0077cc;
  }
}
